SECRET_KEY=
LLM_API_KEY=
DEBUG=false
ALLOWED_HOSTS=127.0.0.1,localhost,api.polvos-magicos.com,smart-software.polvos-magicos.com
CORS_ALLOWED_ORIGINS=https://polvos-magicos.com,https://www.polvos-magicos.com,https://smart-software.polvos-magicos.com
CSRF_TRUSTED_ORIGINS=https://api.polvos-magicos.com,https://smart-software.polvos-magicos.com,https://polvos-magicos.com,https://www.polvos-magicos.com
PORT=8000
SQLITE_PATH=/app/data/db.sqlite3
DOCS_DIR=/app/data/docs
VECTOR_DB_PATH=/app/data/chroma_db
STATIC_ROOT=/app/data/staticfiles
